﻿@model ICollection<String>
@{
    ViewBag.Title = "AddAnswers";
}

<h2>Add Answers</h2>
@foreach (var item in Model)
{
    <h3>Question:</h3>
    <h3 id="_name">@item</h3><hr />
}
<div id="answersForm_" class="form-horizontal">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-md-2 control-label">Answer #1</label>
        <div class="col-md-4">
            <input type="text" name="name" value="" class = "form-control", id = "answerInput1" />
        </div>
            <input type="checkbox" name="name" value="" class = "col-md-1 checkbox"/>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Answer #2</label>
        <div class="col-md-4">
            <input type="text" name="name" value="" class="form-control" , id="answerInput2" />

        </div>
        <input type="checkbox" name="name" value="" class="col-md-1 checkbox" />

    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Answer #3</label>
        <div class="col-md-4">
            <input type="text" name="name" value="" class="form-control" , id="answerInput3" />

        </div>
        <input type="checkbox" name="name" value="" class="col-md-1 checkbox" />

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="saveAnswers" class="btn btn-primary" value="Save" />
            <br /><br /><label id="result" class="text-danger"></label>

        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Custom/js")
    @Scripts.Render("~/bundles /bootstrap")
    @Scripts.Render("~/Content/css")
}
