﻿@model IEnumerable<TestsApplication.Models.QuestionsModel>
@{
    ViewBag.Title = "Answers";
}

<h2>Test and questions</h2>
<table class="table table-striped">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Test Name</th>
            <th>Questions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden id="questionId_">@item.Id</td>
                <td>@item.Tests.TestName</td>
                <td><a href="http://10.10.20.45:8099/Tests/AddAnswers/@item.Tests.TestName/@item.Question" id="questionName">@item.Question</a></td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    @Scripts.Render("~/bundles /bootstrap")
    @Scripts.Render("~/Content/css")
}
