﻿@model TestsApplication.Models.TestsModel
@{
    ViewBag.Title = "CreateTest";
}

<h2>Create Test</h2>


<div class="form-horizontal">
    @Html.AntiForgeryToken()
    <h4>New Test.</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.TestName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TestName, new { @class = "form-control", id = "testNameInput" })
            <br /><label id="result" class="text-danger"></label>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Information, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Information, new { @class = "form-control",  id = "infoInput" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="createTest" class="btn btn-primary" value="Create Test" />
        </div>
    </div>
    @using (Html.BeginForm("Questions", "Tests"))
    {
        <button type="submit" class="btn btn-primary">Questions</button>
    }

</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Custom/js")
    @Scripts.Render("~/bundles /bootstrap")    
    @Scripts.Render("~/Content/css")
}

