﻿@model TestsApplication.Models.TestsModel
@{
    ViewBag.Title = "Create";
}


<div class="form-horizontal">
    @Html.AntiForgeryToken()
    <h4>Create New Test</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.TestName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TestName, new { @class = "form-control", id = "testNameInput_" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Information, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Information, new { @class = "form-control", id = "infoInput_" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="create_Test" class="btn btn-primary" value="Create Test" />
            <br /><br /><label id="result" class="text-danger"></label>

        </div>
    </div>
    <div id="questionsForm">
        <hr />
        <h4>Questions for Test</h4>
        <div class="form-group">
            <label class="col-md-2 control-label">Question:</label>
            <div class="col-md-10">
                <input class="form-control" , id="questionInput1_" />
            </div>
        </div>

        @*<div class="form-group">
            <label class="col-md-2 control-label">Question #2</label>
            <div class="col-md-10">
                <input class="form-control" , id="questionInput2_" />
            </div>
        </div>*@

        @*<div class="form-group">
            <label class="col-md-2 control-label">Question #3</label>
            <div class="col-md-10">
                <input class="form-control" , id="questionInput3_" />
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="addQuestions" class="btn btn-primary" value="Add Questions" />
            </div>
            <br /><label id="result" class="text-danger"></label>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Custom/js")
    @Scripts.Render("~/bundles /bootstrap")
    @Scripts.Render("~/Content/css")
}
