﻿@model IEnumerable<TestsApplication.Models.TestsModel>
@{
    ViewBag.Title = "Index";
}

<h2>List of available Tests</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Test Name</th>
            <th>Information</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in Model)
        {
        <tr>
            <td hidden id="testId_">@test.Id</td>
            <td>@test.TestName</td>
            <td>@test.Information</td>
            <td>
                @using (Html.BeginForm("Index", "Tests"))
                {
                    <button type="submit" class="btn btn-primary">Start Test</button>
                }

            </td>
        </tr>
        }
        </tbody>
    </table>

<hr/>


@*@using (Html.BeginForm("CreateTest", "Tests"))
{
    <button type="submit" class="btn btn-primary">Create New Test2</button>
}*@

@using (Html.BeginForm("Create", "Tests"))
{
    <button type="submit" class="btn btn-primary">Create New Test</button>
}
@section Scripts {

    @Scripts.Render("~/bundles /bootstrap")
    @Scripts.Render("~/Content/css")
}

