﻿@model TestsApplication.Models.QuestionsModel

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>
@Html.AntiForgeryToken()

<form id ="questionsForm_" class="form-horizontal">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new {@class = "text-danger"})

    <div class="form-group">
        <label class="col-md-2 control-label">Question #1</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Question, new {@class = "form-control", id = "questionInput1"})
            <label id="result" class="text-danger"></label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Question #2</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Question, new {@class = "form-control", id = "questionInput2"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Question #3</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Question, new {@class = "form-control", id = "questionInput3"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="saveQuestions" class="btn btn-primary" value="Save"/>
        </div>
    </div>
</form>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Custom/js")
    @Scripts.Render("~/bundles /bootstrap")
    @Scripts.Render("~/Content/css")
}





