﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>Confirm Email.</h2>

<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
