﻿
@{
    ViewBag.Title = "EditUsersProfile";
}

<h2>Edit Users Profile</h2><hr/>

@using (Html.BeginForm("EditUsersProfile", "Manage", FormMethod.Post, new { id = "editUserForm", @class = "form-horizontal" }))
    {
    @*<div class="form-horizontal">*@
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2 control-label">Selec User</label>
            <div class="col-md-10">
                @Html.DropDownList("Users", null, "Select...", new { @class = "form-control", id = "UserDropDown" })
                <div class="text-success">@ViewBag.Message</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Edit Profile" id="EditProfile"/>
            </div>
        </div>

    @*</div>*@
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Custom/js")
    }
