﻿@model TestsApplication.Models.EditProfileViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr/>


    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <h4>Modify account.</h4>
        @Html.ValidationSummary("", new {@class = "text-danger"})

        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new {@class = "form-control", id = "fullName"})
                <br/><label id="result" class = "text-danger"></label>
                @Html.ValidationMessageFor(model => model.FullName)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @readonly = "true", id = "user_Name"})
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.ActionLink("Change your password", "ChangePassword")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @readonly = "true"})
            </div>
        </div>
        
        <div class="form-group">
            <label class = "col-md-2 control-label">User Roles</label>
            <div class="col-md-10">
                @foreach (var item in Model.Roles)
                {
                    <div class="col-md-10">@item</div><br/>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="changeButton" class="btn btn-primary" value="Change FullName"/>
            </div>
        </div>

    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Custom/js")
    }
</div>