﻿@{
    ViewBag.Title = "ManageUsers";
}

<h2>Manage Users</h2>

<hr />
<div>

    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2 control-label">Users</label>
            <div class="col-md-10">
                @Html.DropDownList("Users", null, "Select...", new { @class = "form-control", id = "dropDown" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div>
                    <input type="checkbox"
                           name="my-checkbox"
                           id="toggleBlockUnblock"
                           data-on="Block"
                           data-off="Unblock"
                           checked data-toggle="toggle"
                           data-width="280"
                           data-size="large">
                    <br /><br /><label id="result" class="text-danger"></label>
                </div><br />
                @*<input type="submit" id="blockUser" class="btn btn-primary" value="Block user" />*@
                @*<input type="submit" id="unblockUser" class="btn btn-primary" value="Unblock user" />*@
            </div>

        </div>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Custom/js")
    }
</div>