﻿@{
    ViewBag.Title = "ManageRoles";
}

<h2>Manage Roles</h2><hr/>

    <div class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-md-2 control-label">Users</label>
        <div class="col-md-10">
            @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...", new { @class = "form-control" , id = "usersList" })
        </div>
    </div>

    <div class="form-group">
        <label class = "col-md-2 control-label">Roles</label> 
        <div class="col-md-10">
            @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...", new {@class = "form-control" , id = "rolesList"})
            <br/><label id="result" class = "text-danger"></label>
        </div>
    </div>
    <div class = "text-danger">@ViewBag.Message</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="addRole" class="btn btn-primary" value="Add Role" />
            <input type="submit" id="deleteRole" class="btn btn-primary" value="Delete Role" />
        </div>
    </div>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Custom/js")
    @Scripts.Render("~/bundles /bootstrap") 
    @Scripts.Render("~/Content/css")
}