﻿
@{
    ViewBag.Title = "Users Profile";
}


@model TestsApplication.Models.EditProfileViewModel

<div>
    <h4>Change users account settings</h4>
    <hr />


    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <h4>Modify account.</h4>
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", id = "FullName" })
                @Html.ValidationMessageFor(model => model.FullName)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "User_Name" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>


    

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "true", id = "Email"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">User Roles</label>
            <div class="col-md-10">
                @foreach (var item in Model.Roles)
                {
                    <div class="col-md-10">@item</div><br />
                }
                <br/><label id="result" class="text-danger"></label>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="SaveChanges" class="btn btn-primary" value="Save Changes" />
            </div>
        </div>
        

        @*<hr/>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input id = "Password" class = "form-control"/><br/>
                    <input type="submit" id="ChangePass" class="btn btn-primary" value="Change Password" />
                    <br /><br /><label id="resultPass" class="text-danger"></label>

                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    
                </div>
            </div>
        </div>*@

    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Custom/js")
    }
</div>